<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Stats for {{player_name}}</title>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body>
    <div>
      <h1>{{player_name}}</h1>
        <h2>Career Stats</h2>
        {{ table|safe }}
    </div>
      <br/>
      <br/>

<form action="/player/{{pname}}">
<select name="feature_name">
  {% for feature in feature_names %}
    {% if feature == current_feature_name %}
      <option selected value="{{ feature }}">{{ feature }}</option>
    {% else %}
      <option value="{{ feature }}">{{ feature }}</option>
    {% endif %}
  {% endfor %}
</select>
<input type="submit">
</form>

    {{ plot_div|indent(4)|safe }}
      <br/>
      <br/>
    <a href='/player/{{pname}}/news'>
      Check out recent news stories involving {{player_name}}
    </a>
  </body>
</html>
